#summer{
  background: linear-gradient(#121212, #C04DFF);
}

#summer-content{
    margin-top: 60px;
    padding: 20px;
    text-align: center;
}

#heading{
    font-weight: 700;
    font-size: 40px;
    color: white;
    margin: 0px;
}

#sub-heading{
    font-weight: 100;
    font-size: 30px;
    color: white;
    margin: 0px;
    margin-top: 60px;
}

#content-stats{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    color: rgb(90, 90, 90);
}

#content-stats > div{
    margin: 0px 20px;
    text-align: center;
}

.demo-bg {
  opacity: 0.4;
  position: absolute;
  left: 0;
  top: 0;
  min-width: 100vw;
  max-height: 100%; /* Set max-height to 100% */
  z-index: 0;
}

#contents {
  z-index: 10;
  overflow: hidden;
  height: auto;
  opacity: 1;
}

.stat h1{
    font-weight: 700;
    font-size: 30px;
    color: rgb(90, 90, 90);
    margin: 0px;
}

.stat h2{
    font-weight: 300;
    font-size: 20px;
    color: rgb(90, 90, 90);
    margin: 0px;
}

.stat{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #dedddd;
    border-radius: 10px;
    padding: 10px;
    width: 8vw;
    max-width: 200px;
    transition: 0.5s;
}

.stat:hover{
    background-color: white;
    cursor: pointer;
    width: 10vw;
    color: black;
}

.stat:hover h1{
  color: black;
}

.stat:hover h2{
  color: black;
}

#summer-description{
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    width: 80vw;
    margin-left: 10vw;
    height: auto;
    align-items: center;
}

#content-description{
    margin-top: 20px;
    text-align: left;
    width: 50vw;
    padding: 50px;
    font-size: 15px;
    color: white;
}

#content-img{
    margin: 20px;
    width: 40vw;
    min-height: 40vh;
    object-fit: cover;
    border-radius: 10px;
    transition: 0.5s;
    opacity: 1;
    position: static;
}

#testimonials-heading{
    font-weight: 700;
    font-size: 40px;
    color: white;
    margin: 0px;
    margin-top: 60px;
    text-align: center;
}

#testimonials{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css);
@import url(https://fonts.googleapis.com/css?family=Raleway:400,800);
figure.snip1192 {
  font-family: 'Raleway', Arial, sans-serif;
  position: relative;
  overflow: hidden;
  margin: 10px;
  min-width: 220px;
  max-width: 310px;
  width: 100%;
  color: #333;
  text-align: left;
  box-shadow: none !important;
}
figure.snip1192 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
figure.snip1192 img {
  max-width: 100%;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  margin-bottom: 15px;
  display: inline-block;
  z-index: 1;
  position: relative;
}
figure.snip1192 blockquote {
  margin: 0;
  display: block;
  border-radius: 8px;
  position: relative;
  background-color: #fafafa;
  padding: 30px 50px 65px 50px;
  font-size: 0.8em;
  font-weight: 500;
  margin: 0 0 -50px;
  line-height: 1.6em;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}
figure.snip1192 blockquote:before,
figure.snip1192 blockquote:after {
  font-family: 'FontAwesome';
  content: "\201C";
  position: absolute;
  font-size: 50px;
  opacity: 1;
  font-style: normal;
}
figure.snip1192 blockquote:before {
  top: 35px;
  left: 20px;
}
figure.snip1192 blockquote:after {
  content: "\201D";
  right: 20px;
  bottom: 35px;
}
figure.snip1192 .author {
  margin: 0;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
}
figure.snip1192 .author h5 {
  opacity: 1;
  margin: 0;
  font-weight: 800;
}
figure.snip1192 .author h5 span {
  font-weight: 400;
  text-transform: none;
  display: block;
}

@media only screen and (max-width: 767px) {
  #content-stats{
    flex-direction: column;
    align-items: center;
    height: 80vh;
    justify-content: space-between;
    }
  .stat{
    width: 90vw;
    flex-direction: row;
    align-items: center;
    margin: 10px;
  }
  .stat h1{
    padding: 10px;
  }
  #summer-description{
    flex-direction: column;
    height: 80vh;
    width: 100%;
    margin-left: 0px;
  }

  #testimonials{
    flex-direction: column;
    align-items: center;
  }
  #content-img{
    min-width: 80vw;
    height: 40vh;
  }

  #content-description{
    width: 80vw;
    padding: 10px;
    font-size: 15px;
    color: white;
    text-align: center;
  }

  #content-img{
    margin-top: 60px;
    min-width: 80vw;
    min-height: 80vw;
  }

  #testimonials-heading{
    margin-top: 40vh;
    text-align: center;
  }
}

